<h1 align="center" class="mt-2">Showing Articles Details</h1>
	<div class="container">
		
			<div class="row justify-content-center">
				<div class="col-8 mt-4">
					<div class="card text-center">
						<div class="card-header font-italic">
							By:Abhay
						</div>
						<div class="card-body">
							<h5 class="card-title text-success"><%= @article.title %></h5>
							<p class="card-text"><%= simple_format(@article.description) %></p>
							<%= link_to 'Edit',edit_article_path(@article), class: "btn btn-outline-info" %>
							<%= link_to 'Delete', article_path(@article),method: :delete, data: {confirm: "Are You Sure?"}, class: "btn btn-outline-danger" %>
						</div>
						<div class="card-footer text-muted">
							<small><b>Created <%= time_ago_in_words(@article.created_at) %> ago, 
							edited <%= time_ago_in_words(@article.updated_at) %> ago</b></small>
						</div>
					</div>
				</div>
			</diV>
		
	</div>
	
		



