<h1>Showing article details</h1>

<p><strong>Title: </strong><%= @article.title %></p>
<p><strong>Description: </strong><%= @article.description %></p> 

<p>
	<%= link_to 'Back To Articles', articles_path %> |
	<%= link_to 'Create New Article', new_article_path %> |
	<%= link_to 'Delete This Article', article_path, method: :delete, data: {confirm: "Are You Sure?"}%>
</p>