<h1 align="center" class="mt-2 text-white">Showing Articles Details</h1>
	<div class="container">
		
			<div class="row justify-content-center">
				<div class="col-8 mt-4">
					<div class="card text-center">
						<div class="card-header font-italic">
							By: <%= @article.user.username if @article.user %>
						</div>
						<div class="card-body">
							<div class="card-text text-left"><%= simple_format(@article.description) %></div>
								<% if logged_in? && (@article.user == current_user || current_user.admin?) %>
									<%= link_to "Edit", edit_article_path(@article), class: "btn btn-outline-info" %>
									<%= link_to "Delete", article_path(@article), class: "btn btn-outline-danger", method: :delete, data: {confirm: "Are you sure?"} %>
								<% end %>
        		</div>
						<div class="card-footer text-muted">
							<small><b>Created: <%= time_ago_in_words(@article.created_at) %> ago</small>
							<div>
							<small><b>Edited: <%= time_ago_in_words(@article.updated_at) %> ago</small>
						</div>
							</div>
					</div>
				</div>
			</diV>
		
	</div>
	
		



