<h1 class="text-center mt-2 text-white">Aplha Bloggers</h1>
<div class="container">
		<% @user.each do |user| %>
			<div class="row justify-content-center">
				<div class="col-8 mt-4">
					<div class="card text-center">
						<div class="card-header text-muted">
						<%= "(Admin)" if user.admin? %>
							<%= link_to user.username, user %>
						</div>
						<div class="card-body">
							<p class="card-text"><%= user.username %> have <%= pluralize(user.articles.count, "article") %></p>
							<% if logged_in? %>
									<% if user == current_user %>
										<%= link_to 'Edit Profile',edit_user_path(user), class: "btn btn-outline-info" %>
									<% end %>
									<% if current_user.admin? %>
										<%= link_to 'Delete User',user_path(user), class: "btn btn-outline-danger", method: :delete %>
									<% end %>
							<% end %>
						</div>
						<div class="card-footer text-muted">
							<small><b>Joined: <%= time_ago_in_words(user.created_at) %> ago</small>
						</div>
					</div>
				</div>
			</diV>
		<% end %>
	</div>

	<div class="flickr_pagination mb-2 mt-2">
        <%= will_paginate @user, :container => false %>
  </div>

